services:
  - type: web
    name: fastapi-app
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn Obesity-Prediction-Service.predict:app --host 0.0.0.0 --port 8000"
